@import "tailwindcss";

/* Custom animation */
@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeSlideUp {
  animation: fadeSlideUp 1s ease-out forwards;
}

@keyframes float {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-8px); }
  100% { transform: translateY(0px); }
}

.float-wrapper {
  animation: float 4s ease-in-out infinite;
}

.perspective {
  perspective: 1200px;
}
